# @copyright Tomda (https://www.tomda.top)
# @copyright UIED技术团队 (https://fsuied.com)
# @author UIED技术团队
# @createDate 2026-08-22

GIN_MODE='release'
SERVER_PORT=8003
PUBLIC_URL='https://uiedtool.com'
DATABASE_URL='uiedtool:CHANGE_DATABASE_PASSWORD@tcp(127.0.0.1:3306)/uiedtool?charset=utf8mb4&parseTime=True&loc=Local'
REDIS_URL='redis://127.0.0.1:6379/0'
UPLOAD_DIRECTORY='/www/wwwroot/uiedtool.com/app/shared/uploads/'
MATTING_INTERNAL_TOKEN='CHANGE_TO_RANDOM_TOKEN_AT_LEAST_24_CHARS'
